header.container {
    min-height: 750px;
    background-image: url("../assets/Background_Intro.png");
    background-size: cover;
}

.avatar {
    position: relative;
    width: fit-content;
}

.avatar #murilo-foto {
    display: block;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    margin-bottom: 56px;
    border: 2px solid var(--red);
    padding: 4px;
}

.avatar #code-icon {
    position: absolute;
    height: 38px;
    width: 38px;
    bottom: 53px;
    left: 67px;
}

.hero-content {
    max-width: 680px;

}


.tags {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.tag {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 8px 16px;
    background: var(--gray400);
    border-radius: 999px;
    margin-top: 80px;
}

.tag img {
    width: 20px;
    height: 20px;
}

#flecha {
    margin-top: 94px;
}